// Override default variables before the import
//$body-bg: #000;

// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// Custom utilities scss
@import './utilities';

@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Catamaran|Maven+Pro|Montserrat|Oxygen|Poppins|Quicksand|Raleway|Work+Sans&display=swap');

// * {
//   font-family: 'Raleway', sans-serif;
// }

// utilities

// Navbar styling
.navbar {
  padding: 4px 20px;

  .input-group {
    .form-control:focus {
      border-color: $secondary;
      box-shadow: none;

      & + .input-group-append {
        background: $secondary;

        .btn {
          color: #fff;
        }
      }
    }
  }

  .auth-buttons {
    .btn {
      width: 100px;
    }
  }

  .dropdown-item {
    .icon-left {
      color: $secondary;
      font-size: 20px;
    }

    .icon-right {
      color: $secondary;
      font-size: 10px;
    }
  }
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 60%;
  .form-control,
  .btn {
    height: 50px;
  }
  #facebook {
    color: #3b5997;
  }

  #google {
    color: #dd4b39;
  }
}

.date-picker {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
}

.trend-item {
  font-size: 14px;
}

.overlay {
  display: flex;
  z-index: 2;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
}

.fit-image {
  object-fit: cover;
}

.home-post-card {
  font-size: 0.85rem;
  .card-title {
    font-size: 1.2rem;
  }
}

.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.modal-fixed {
  .modal-body {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
  }
}

.profile-top {
  img {
    width: 96px;
    width: 96px;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 4px;
    font-size: 1rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(md) {
    img {
      width: 128px;
      height: 128px;
    }
    font-size: 1rem;
  }
}

.profile-post {
  @include media-breakpoint-down(xs) {
    border-radius: 0 !important;
  }
}

.profile {
  @include media-breakpoint-up(sm) {
    .profile-post {
      width: 75%;
    }
  }
  @include media-breakpoint-up(md) {
    .profile-post {
      width: 65%;
    }
  }

  @include media-breakpoint-down(md) {
    .profile-top {
      margin-top: 0 !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .profile-post {
      width: 55%;
    }

    .profile-top {
      width: 70%;
    }
  }

  @include media-breakpoint-up(xl) {
    .profile-post {
      width: 45%;
    }

    .profile-top {
      width: 60%;
    }
  }
}

.colorpleaceholder::placeholder {
  color: #718096;
}
.colorpleaceholder:focus {
  outline: none !important;
}
