// TailwindCSS colors
$theme-colors: (
  'custom-color': #900,
  'gray-100': #f7fafc,
  'gray-300': #e2e8f0,
  'gray-400': #cbd5e0,
  'gray-500': #a0aec0,
  'gray-600': #718096,
  'gray-700': #4a5568,
  'gray-900': #1a202c,
  'teal-700': #2c7a7b
);

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Font families
.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.font-catamaran {
  font-family: 'Catamaran', sans-serif;
}

.font-mavenpro {
  font-family: 'Maven Pro', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-oxygen {
  font-family: 'Oxygen', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}
// Font Weight
.font-hairline {
  font-weight: 100 !important;
}

.font-thin {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

// Text Sizes
.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
}

.text-4xl {
  font-size: 2.25rem !important;
}

.text-5xl {
  font-size: 3rem !important;
}

.text-6xl {
  font-size: 4rem !important;
}

// Line Height
.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}
