// Colors
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$green-100: #f0fff4;
$green-200: #c6f6d5;
$green-300: #9ae6b4;
$green-400: #68d391;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;

$teal-100: #e6fffa;
$teal-200: #b2f5ea;
$teal-300: #81e6d9;
$teal-400: #4fd1c5;
$teal-500: #38b2ac;
$teal-600: #319795;
$teal-700: #2c7a7b;
$teal-800: #285e61;
$teal-900: #234e52;

// TailwindCSS colors
$theme-colors: (
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'green-100': $green-100,
  'green-200': $green-200,
  'green-300': $green-300,
  'green-400': $green-400,
  'green-500': $green-500,
  'green-600': $green-600,
  'green-700': $green-700,
  'green-800': $green-800,
  'green-900': $green-900,
  'teal-100': $teal-100,
  'teal-200': $teal-200,
  'teal-300': $teal-300,
  'teal-400': $teal-400,
  'teal-500': $teal-500,
  'teal-600': $teal-600,
  'teal-700': $teal-700,
  'teal-800': $teal-800,
  'teal-900': $teal-900
);

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Font families
.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.font-catamaran {
  font-family: 'Catamaran', sans-serif;
}

.font-mavenpro {
  font-family: 'Maven Pro', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-oxygen {
  font-family: 'Oxygen', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}
// Font Weight
.font-hairline {
  font-weight: 100 !important;
}

.font-thin {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

// Text Sizes
.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
}

.text-4xl {
  font-size: 2.25rem !important;
}

.text-5xl {
  font-size: 3rem !important;
}

.text-6xl {
  font-size: 4rem !important;
}

// Line Height
.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

// Buttons
.btn-outline-gray-500:hover {
  background: #fff !important;
  color: #1a202c !important;
  border: 1px solid #1a202c !important;
}

.btn-outline-green-500:hover {
  background: #fff !important;
  color: #2f855a !important;
  border: 1px solid #2f855a !important;
}

.btn-default-gray-600:hover {
  color: $gray-700 !important;
}

.btn-default-gray-600:focus {
  color: $gray-700 !important;
  box-shadow: none !important;
}

.btn-outline-gray-600:focus {
  box-shadow: none !important;
}
